#paragraph {
    background-color: #1f0f18;
    color: #fff6fc;
    padding: 20px;
    text-align: center;
    font-family: 'Arial Narrow', sans-serif;
    font-weight: lighter;
    padding: 5% 10% 5% 10%;
}
